<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Region</th>
      <th>Population</th>
      <th>Area (sq. mi.)</th>
      <th>Pop. Density (per sq. mi.)</th>
      <th>Coastline (coast/area ratio)</th>
      <th>Net migration</th>
      <th>Infant mortality (per 1000 births)</th>
      <th>GDP ($ per capita)</th>
      <th>Literacy (%)</th>
      <th>Phones (per 1000)</th>
      <th>Arable (%)</th>
      <th>Crops (%)</th>
      <th>Other (%)</th>
      <th>Climate</th>
      <th>Birthrate</th>
      <th>Deathrate</th>
      <th>Agriculture</th>
      <th>Industry</th>
      <th>Service</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Czech Republic</td>
      <td>EASTERN EUROPE</td>
      <td>10235455</td>
      <td>78866</td>
      <td>129,8</td>
      <td>0,00</td>
      <td>0,97</td>
      <td>3,93</td>
      <td>15700.0</td>
      <td>99,9</td>
      <td>314,3</td>
      <td>39,8</td>
      <td>3,05</td>
      <td>57,15</td>
      <td>3</td>
      <td>9,02</td>
      <td>10,59</td>
      <td>0,034</td>
      <td>0,393</td>
      <td>0,573</td>
    </tr>
  </tbody>
</table>